.superadmin_box_login .box_input_wrap .b_input input{height:30px;line-height:30px;}

.superadmin_box_login{height:170px;}

#popup.find_id .btn_area{text-align:center;}

.overflow_wrap_70{width:70px;}
.overflow_dot{ /* display "..." */
    white-space:nowrap;
    display:block;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.style_board_userinfo td textarea{border-radius: 2px;padding:10px 0 0px 10px;font-size:12px;color:#888;border:1px solid #c5c5c5;}

#popup.recent_login{top:25%;width:400px;}
.recent_login_box {overflow-y: scroll; height: 308px; margin-bottom:20px;border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2;}

.ui-datepicker-trigger{vertical-align:bottom;margin-left:5px;}

.pw_status.noti{display:block;float:left;}
.pw_status.imp{display:block;float:left;margin-top:5px;margin-left:10px;}
.pw_reset{display:block;float:left;}