/*dim*/
.fixed_dim{position:fixed; left:0; top:0; width:100%; height:100%; background:url("../images/biz/dim_bg.png") repeat 0 0; z-index:10000;}

/* 레이어 팝업 split */
#popup.reset_pw{left:50%;top:55%;}
#popup.edit_pw_guide{left:35%;top:27%;}
#popup.popup_notice{left:33%;top:3%;}
#popup.add_user{left:33%;top:15%;}
#popup.supp_log{top:15%;}
#popup.program{left:0;top:0;}

.pop_notice_footer .btn_list {display:none;}

.mobile_setting_box{display:none;}
.mobile_setting_box.hide{display:none;}
.mobile_setting_box.show{display:block;}

.endu_contents .endu_num_chk form{display:inline-block;}

.overflow_wrap_70{width:70px;}
.overflow_dot{ /* display "..." */
    white-space:nowrap;
    display:block;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.edit_pw_redirect{float:right;}
.edit_pw_redirect_imp{text-decoration:underline;}

.pw_status.noti{display:block;float:left;}
.pw_status.imp{display:block;float:left;margin-top:5px;margin-left:10px;}
.pw_reset{display:block;float:left;}