/** 디폴트 테이블 스타일가이드 **/
.style_board_default{border-top:2px solid #adadb2;}
.style_board_default caption span{width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.style_board_default tr.last th, .style_board_default tr.last td{border-bottom:1px solid #c5c5c5;}
.style_board_default th{height:31px;font-size:12px;color:#666;background:url("../images/board/ico_bar2.gif") no-repeat right center #f9f9f9;border-bottom:1px solid #c5c5c5;}
.style_board_default th.last{background-image:none;}
.style_board_default td{height:33px;text-align:center;font-size:12px;color:#888;border-bottom:1px solid #e5e5e5;}
.style_board_default td.title{padding-left:10px;text-align:left;}
.style_board_default td a{color:inherit;}
/* 페이징 */
.paging{margin:20px 0 0px;text-align: center;}
.paging a{display:inline-block;width:21px;height:20px;line-height:20px;vertical-align: middle;color:#606060;}
.paging a:hover{text-decoration:underline;}
.paging .btn_arrow{background:url("../images/board/btn_arrow.gif") no-repeat;overflow:hidden;text-indent:-9999px}
.paging .btn_arrow.ar_fst{background-position:0 0;}
.paging .btn_arrow.ar_prev{background-position:-21px 0;margin: 0 20px 0 -4px;}
.paging .btn_arrow.ar_next{background-position:0 -20px;margin: 0 -4px 0 20px;}
.paging .btn_arrow.ar_last{background-position:-21px -20px;}
/* 검색박스 */
.search_box{/*margin-bottom: 19px;*/}
.search_box select{height: 24px;vertical-align: middle;}
.search_box input{margin:0 5px 0 2px;padding: 3px 0 3px 10px;font-size: 12px;color: #888;border: 1px solid #c5c5c5;vertical-align: middle;}
.search_box a{display: inline-block;vertical-align: middle;}


/** 뷰페이지 테이블 스타일가이드 **/
.style_board_view{border-top:2px solid #adadb2;}
.style_board_view th{padding:10px 0;font-weight:normal;font-size:12px;color:#888;border-bottom:1px solid #c5c5c5;}
.style_board_view th.title{padding-left:10px;font-weight:bold;color:#666;text-align:left;}
.style_board_view th.date span{padding-right:8px;background:url("../images/board/ico_bar.gif") no-repeat right center;}
.style_board_view td{padding:20px 10px;height:370px;vertical-align:top;font-size:12px;  line-height: 20px;color:#888;border-bottom:1px solid #c5c5c5;}
.notice_view{height:370px; overflow-y: auto;}
.btn_list{margin-top:15px;text-align:center;}


/** 사용자정보 폼 테이블 **/
.style_board_userinfo{border-top:2px solid #adadb2;}
.style_board_userinfo th{padding-left:20px;background:#f9f9f9;font-size:12px;color:#666;text-align:left;border-bottom:1px solid #e5e5e5;}
.style_board_userinfo td{padding:5px 0 5px 10px;font-size:12px;  line-height: 23px;color:#888;border-bottom:1px solid #e5e5e5;}
.style_board_userinfo tr.last th, .style_board_userinfo tr.last td{border-bottom:1px solid #c5c5c5;}
.style_board_userinfo td input{border-radius: 2px;padding:2px 0 0px 10px;font-size:12px; height:17px; line-height:17px; color:#888;border:1px solid #c5c5c5;vertical-align: middle;}
.style_board_userinfo td input[type="radio"]{padding:0;margin-right:4px;border:0 none;}
.style_board_userinfo td select{padding:2px 0 1px 5px;font-size:12px;color:#888;border:1px solid #c5c5c5;}
.style_board_userinfo td .noti{padding-left:10px;font-size:11px;color:#999;}
.style_board_userinfo td .imp{padding-left:15px;font-size:11px;line-height:16px;color:#ec098d;background:url("../images/board/ico_imp.gif") no-repeat left 60%;}


/** 로그인화면 공지사항 스타일가이드 **/
.slide_notice_tit{margin-bottom:10px;overflow:hidden;}
.slide_notice_tit strong{float:left;font-size:12px;color:#666;}
.slide_notice_tit a{float:right;font-size:11px;color:#999;}

.slide_notice{overflow:hidden;padding:10px 50px 10px 0;}
.slide_notice dl{*zoom:1;font-size:12px;color:#888;}
.slide_notice dl:after{content:"";display:block;clear:both;}
.slide_notice dl a{font-size:12px;color:#888;}
.slide_notice dl a:hover{text-decoration:underline;}
.slide_notice dl.first, .slide_notice dl.first dt, .slide_notice dl.first dd, .slide_notice dl.second dt, .slide_notice dl.second dd{float:left;}
.slide_notice dl.first dt, .slide_notice dl.second dt{padding-right:11px;margin-right:10px;background:url("../images/sub/bg_grey_line2.gif") no-repeat right center;}
.slide_notice dl.second{float:right;}
/* RESET AND LAYOUT */
.bx-wrapper {position: relative;margin: 0 auto;padding: 0;*zoom: 1;}
.bx-wrapper img {max-width: 100%;display: block;}
/* THEME */
.bx-wrapper .bx-viewport {border-top:1px solid #e2e2e2;
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);	-moz-transform: translatez(0);	-ms-transform: translatez(0);-o-transform: translatez(0);transform: translatez(0);}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {right: 20px;background: url(../images/sub/ico_before.gif) no-repeat;}
.bx-wrapper .bx-next {right: 0px;background: url(../images/sub/ico_after.gif) no-repeat;}
.bx-wrapper .bx-controls-direction a {	position: absolute;top: 50%;margin-top: -9px;outline: 0;width: 17px;height: 17px;text-indent: -9999px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}