@charset "utf-8";
body {border:0;}
html, body{height:100%}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin: 0;padding: 0;}
body, input, textarea, select, button, table {font-family:'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-size:13px; color:#424242; letter-spacing:-0.75px;}
textarea{resize: none;}
img, fieldset, button, iframe {border:0;}
ul, ol {list-style: none outside none;}
em, address {font-style: normal;}
a {color:#333; text-decoration:none; cursor:pointer;}
caption, hr, legend {display: none;}
button {cursor: pointer;}
table {border: 0 none;border-collapse: collapse;margin: 0;padding: 0;}
a:hover, a:active, a:focus {text-decoration: none;}
.hove a:hover{text-decoration: underline; }


/** 레이아웃 **/
#wrap{
	min-width: 1000px;
	min-height:100%;
	height:auto;
	margin:0 auto -122px;
}
#header {
	overflow: hidden;
	width: 100%;
	border-bottom: 2px solid #ec068d;
}
#container {
	width: 100%;
	/*min-height:600px;*/
	padding-bottom:122px;
}
#footer {
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	background-color: #646465;
	margin-top: 10px;
}
#footer .foot {
	width: 1000px;
	height: 112px;
	margin: 0 auto;
	clear: both;
}
#header .top_head {
	height: 28px;
	border-bottom: 1px solid #d7d7d7;
	background-color: #f3f3f3;
}
#header .gnb_head {
	position: relative;
	width: 1000px;
	height: 75px;
	margin: 0 auto;
}
.gnb_head h1 {
	position: absolute;
	top: 15px;
	left: 10px;
}
.gnb_head .gnb {
	width: 600px;
	height: 70px;
	margin-left: 195px;
}
.gnb_head .gnb li {
	float: left;
	padding: 28px 30px;
	background: url(../images/sub/bg_gray_line.gif) no-repeat right 30px;
}
.gnb_head .gnb li a{display:inline-block;vertical-align: middle;}
.gnb_head .gnb .last {background: none;}
.top_head .login {
	width: 1000px;
	height: 28px;
	margin: 0 auto;
	text-align: right;
}
#container .conts_box {
	width: 1000px;
	margin: 0 auto;
	padding-bottom:90px;
	overflow: hidden;
}
.conts_box .conts_left {
	float: left;
	width: 170px;
	margin-right: 50px;
}
.conts_box .conts_right {
	float: left;
	width: 778px;
}
.conts_box .conts_right h3 {
	margin-top: 40px;
	margin-bottom: 20px;
}
.conts_left h2 {
	margin: 40px 0 34px 0;
}
.conts_left .lnb {
	width: 170px;
	margin-bottom: 100px;
	padding: 14px 0;
	border-top: 2px solid #555555;
	border-bottom: 1px solid #555555;
}
.conts_left .lnb li {
	width: 100%;
	height: 33px;
}
.conts_left .lnb li a{
	width: 100%;
	height: 33px;
	display: inline-block;
	font-size: 12px;
}
.conts_left .lnb li a span{display:inline-block;padding:10px 0 0 14px;}
.conts_left .lnb .on {
	background-color: #f32e8f;
	font-weight: bold;
}
.conts_left .lnb .on a {
	display:inline-block;
	color: #ffffff;
}
.lnb_quick{padding:148px 0 12px 0;text-align:center;background:url("../images/sub/bg_program.gif") no-repeat left 4px;}
.lnb_quick a{display:inline-block;margin:0 2px;}
.top_head .login .user_id {
	font-size: 12px;
	display: inline-block;
	padding-top:5px;
	vertical-align: top;
	margin-right: 8px;
}
.top_head .login .out {
	display: inline-block;
	padding-top: 5px;
}
.foot p {
	width: 1000px;
	padding-top: 30px;
	margin-left: 460px;
	font-size: 12px;
	color: #9a9a9a;
}


/** 공통 **/
.imp{color:#ec098d;!important;}
.imp_ico{padding-left: 15px;font-size:12px; line-height:16px;color:#ec098d;background: url("../images/board/ico_imp.gif") no-repeat left 40%;!important;}
.imp_blue{font-weight:bold;color:#596c9f;}


/** 로그인화면 **/
#login_wrap{width:984px;margin:0 auto;}

#login_header h1{width:660px;margin:0 auto;padding:240px 5px 40px 10px;overflow:hidden;}
#login_header h1 .login_logo{float:left;}
#login_header h1 .login_useradmin{float:right;padding:42px 8px 0 0;}

#login_content{}
.box_login_wrap{margin:0 auto 45px;width:660px;}
.box_login_top{height:4px;background:url("../images/sub/box_login_top.gif") no-repeat;}
.box_login_btm{height:4px;background:url("../images/sub/box_login_btm.gif") no-repeat;}
.box_login{height:198px;border-right:1px solid #c7c7ca;border-left:1px solid #c7c7ca;}
.box_login .box_input_wrap{overflow:hidden;margin:0 auto;padding-top:52px;width:339px;}
.box_login .box_input_wrap div, .box_login .login_check div{float:left;}
.box_login .box_input_wrap .b_input{margin-right:6px;}
.box_login .box_input_wrap input[type="text"]{margin-bottom:5px;}
.box_login .box_input_wrap input{display:block;padding-left:8px;width:231px;height:28px;line-height:28px;border:1px solid #d5d5d5;color:#5b5b5b;font-size:12px;}
.box_login .login_check{overflow:hidden;margin:0 auto;padding-top:15px;width:338px;color:#888;font-size:12px;}
.box_login .login_check .save_id input{vertical-align:middle;}
.box_login .login_check .find{float:right;}
.box_login .login_check .find a{color:#888;}
.box_login .login_check .find a:hover{text-decoration:underline;}
.box_login .login_check .find .bar{margin-right:6px;padding-right:10px;background:url("../images/sub/bg_grey_line2.gif") no-repeat right 4px;}
.box_login .alert{padding:10px 0;margin:0 auto;width:505px;color:#ec098d;font-size:11px;letter-spacing:normal;}
.box_login .alert strong{display:block;}

.box_loggedin_wrap{margin:0 auto;overflow:hidden;text-align:center;}
.box_loggedin_wrap p{color:#5b5b5b;padding:42px 0;}
.box_loggedin_wrap strong{display:block;margin-bottom:5px;font-size:14px;}
.box_loggedin_wrap span{font-size:12px;}
.box_loggedin_wrap .b_btn a{display:inline-block;margin:0 2px;}

.rolling_notice{width:660px;margin:0 auto;}

#login_footer{width:984px;margin:142px 0 0px 0;padding:15px 0 30px 0;text-align:center;color:#b1b1b1;border-top:1px solid #efefef;}

.find_pw .style_board_userinfo th{padding-left:10px;}

/** 사용자관리-부서관리 **/
.deptadd_btn{text-align:right;}
.deptadd_btn a{display:inline-block;margin-bottom:10px;}
.user_dept table td {color:#808080;}
.user_dept table td a{display:inline-block;vertical-align:middle;}
.user_dept table td input{border-radius: 2px;padding: 2px 0 0px 10px;font-size: 12px; height:18px; line-height:18px; color: #999;border: 1px solid #c5c5c5;vertical-align: middle;}
.user_dept .paging{margin:20px 0 0px;}


/** 사용자관리-사용자관리 **/
.useradd_btn{text-align:right;}
.useradd_btn a{display:inline-block;margin:20px 0 10px;}
.user_user .search_box{border-radius:2px;height: 25px;margin-bottom:10px;padding:9px 15px;border:1px solid #c5c5c5;background:none;}
/*.user_user .search_box *{float:left;}*/
.user_user .search_box strong{float: left; margin-right:12px; padding-top: 2px; font-size:12px;color:#666;line-height: 22px;}
.user_user .search_box select{margin-right:3px;}
.user_user .search_box input{border-radius: 2px;padding: 2px 0 0px 10px;font-size: 12px; height:20px; line-height:20px; color: #999;border: 1px solid #c5c5c5;vertical-align: middle;}
.user_user table td a{color:#888; display:inline-block; vertical-align:middle;}
.user_user table td a:hover{text-decoration:underline;}
.user_user .paging{margin:20px 0 0px;}


/** 사용자관리-사용자정보 **/
.userlist_btn{text-align:right;}
.userlist_btn a{display:inline-block;margin-bottom:10px;}

.user_info .style_board_userinfo td {padding: 5px 0 5px 10px;font-size: 12px;line-height: 23px;color: #888;border-bottom: 1px solid #e5e5e5;}
.user_info .style_board_userinfo td input {border-radius: 2px;padding: 2px 0 0px 10px;font-size: 12px; height:20px; line-height:20px;color: #888;border: 1px solid #c5c5c5;vertical-align: middle;}
.user_info .style_board_userinfo td .imp {padding-left: 15px;font-size: 11px;line-height: 15px;color: #ec098d;background: url("../images/board/ico_imp.gif") no-repeat left 60%;}

.contents h4{margin:30px 0 10px;}
.user_info .style_board_default td {line-height:17px;}
.user_info .style_board_default td.al_l{text-align:left;padding-left:10px;}
.user_info .style_board_default td.func_name{padding-left:20px;color:#666;font-weight:bold;}
.user_info .style_board_default td input{padding:0;border:0 none;}
.userlist_sd_btn{margin:20px 0 0px;text-align:center;}
.userlist_sd_btn a{display:inline-block;margin:0 3px;}


/** 지원기록관리-지원기록보기 **/
.supp_logg table a{color:#888;}
.supp_logg table a:hover{text-decoration:underline;}
.supp_logg .paging{margin:19px 0 0px;}

.search_box2{padding: 15px;text-align:left;border:1px solid #c5c5c5;border-radius:2px;}
.search_box2_wrap{height: 59px; z-index: 100;}
.search_box2 .add_style {height: 25px;}
.search_box2_wrap01{clear: both; height: 24px;}
.search_box2_tit, .search_box2_cont{float:left;}
.search_box2_tit{width:70px; padding-top: 5px;}
.search_box2 .add_t_style {padding-top: 4px;}
.search_box2_cont .period{overflow:hidden;}
.search_box2_cont .period a{float:left;margin-right:5px;}
.search_box2_cont .period .week {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_1week.gif") no-repeat; font-size:0; line-height:0; text-indent:-9999px;}
.search_box2_cont .period .week:hover {background:url("../images/sub/btn_1week_on.gif") no-repeat;}
.search_box2_cont .period .on .week {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_1week_on.gif") no-repeat;}
.search_box2_cont .period .month_1 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_1mth.gif") no-repeat; font-size:0; line-height:0; text-indent:-9999px;}
.search_box2_cont .period .on .month_1 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_1mth_on.gif") no-repeat;}
.search_box2_cont .period .month_1:hover{background:url("../images/sub/btn_1mth_on.gif") no-repeat;}
.search_box2_cont .period .month_3 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_3mth.gif") no-repeat; font-size:0; line-height:0; text-indent:-9999px;}
.search_box2_cont .period .month_3:hover {background:url("../images/sub/btn_3mth_on.gif") no-repeat;}
.search_box2_cont .period .on .month_3 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_3mth_on.gif") no-repeat;}
.search_box2_cont .period .month_6 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_6mth.gif") no-repeat; font-size:0; line-height:0; text-indent:-9999px;}
.search_box2_cont .period .month_6:hover {background:url("../images/sub/btn_6mth_on.gif") no-repeat;}
.search_box2_cont .period .on .month_6 {display: inline-block; width: 61px; height: 24px; background:url("../images/sub/btn_6mth_on.gif") no-repeat;}
.search_box2_cont .date{margin:10px 0 20px;}

.search_box2_cont select, .search_box2_cont input, .search_box2_cont img{vertical-align:middle;}
.search_box2_cont select, .search_box2_cont input {font-size: 12px;color: #888;border: 1px solid #c5c5c5;border-radius:2px;}
.search_box2_cont select{padding:2px 0 2px 5px;margin-right:1px;}
.search_box2_cont input{padding: 2px 0 0px 10px;margin-right:5px; height:20px; line-height:20px;}


/** 지원기록관리-지원유형관리 **/
.addtype_btn{text-align:right;}
.addtype_btn a{display: inline-block;margin-bottom: 10px;}
.supp_type table td input{border-radius: 2px;margin-right:8px;padding: 3px 0 3px 10px;font-size: 12px;color: #888;border: 1px solid #c5c5c5;vertical-align: middle;}
.supp_type table td a{display:inline-block;}
.supp_type table td a img{vertical-align:middle;}


/** 통계관리-시간대별통계보기 **/
.search_box2_cont .date2{margin: 10px 0 0;}
.index_t table a{color:#888;}
.index_t table a:hover{text-decoration:underline;}
.index_t .paging{margin:19px 0 100px;}


/** 사이트설정-사이트설정 **/
.fint_image *{vertical-align:middle;}
.fint_image a{display:inline-block;}
.bg_submit_img{margin-top:8px;width:262px;height:74px;border:1px solid #c5c5c5;}
.site_set table{margin-bottom:10px;}


/** 사이트설정-공지사항 **/
.site_noti table td a{color:#888;}
.site_noti table td a:hover{text-decoration:underline;}
.site_noti .paging{margin:20px 0 50px;}

.site_noti_view table th{padding:10px 0 11px;}
.site_noti_view table th.title{font-size:14px;color:#333;}
.site_noti_view table td{padding:40px 10px 60px;min-height:370px;}
.site_noti_view .btn_list{margin:20px 0 0px;}


/** 사용자 실행프로그램-동의 **/
#agree_header{width: 880px;margin: 0 auto;overflow: hidden;}
.agree_header_tit{padding: 210px 5px 20px;}
.agree_header_cont{overflow: hidden;padding:2px 3px 20px 8px;}
.agree_header_cont_btn{float:right;}
.agree_header_cont a{display:inline-block;margin:0 3px;}

.box_agree_wrap{margin:0 auto 27px;width:880px;}
.box_agree_top{height:4px;background:url("../images/sub/box_agree_top.gif") no-repeat;}
.box_agree_btm{height:4px;background:url("../images/sub/box_agree_btm.gif") no-repeat;}
.box_agree{padding:32px 0 37px;border-right:1px solid #c7c7ca;border-left:1px solid #c7c7ca;}
.box_agree_content{margin:0 auto;width:660px;overflow:hidden;text-align:center;background:url("../images/sub/bg_agree_content.gif") no-repeat;}

.agree_contents{margin:0 0 15px 189px;border-bottom:1px solid #e3e3e4;text-align:left;font-size:12px;}
.agree_contents strong{display:block;padding:5px 0 12px;}
.agree_contents .agree_contents_chk{margin:25px 0 20px;min-height:18px;color:#5b5b5b}
.agree_contents .agree_contents_chk input, .agree_contents .agree_contents_chk label, .agree_contents .agree_contents_chk span{vertical-align:top;line-height:16px;}
.agree_contents .agree_contents_chk input{margin-top:2px;}
.agree_contents .agree_contents_chk label{margin:0 25px 0 8px;}

.agree_btmtxt{font-size:12px;color:#888;text-align:center;}

#agree_footer{margin:105px 0 30px 0;text-align:center;color:#9a9a9a;}


/** 원격지원상담 EndUser 접속페이지 **/
.box_endu{padding:50px 0;/*height:198px;*/border-right:1px solid #c7c7ca;border-left:1px solid #c7c7ca;}
.box_endu_content{margin:0 auto;width:690px;overflow:hidden;text-align:center;background:url("../images/sub/bg_endu_content.gif") no-repeat;}

.endu_contents{margin:0 0 0 185px;text-align:left;font-size:12px;}
.endu_contents strong{display:block;padding:5px 0 0;}
.endu_contents .endu_num_chk{margin:30px 0 16px;}
.endu_contents .endu_num_chk *{vertical-align:middle;}
.endu_contents .endu_num_chk input{margin-right:7px;padding:5px 10px 0 10px;font-size:14px; height:31px; line-height:31px;color:#999;border:1px solid #c5c5c5;border-radius:2px;}
.endu_contents .endu_num_chk a{display:inline-block;}

/** 원격지원 관리자페이지 사이트설정 **/
.style_board_userinfo .style_151102 input.type01 {
    margin-right: 6px;
    padding: 1px 10px 0 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #999;
    border: 1px solid #c5c5c5;
    border-radius: 0;
    box-sizing:border-box;
}
.style_board_userinfo .style_151102 * {vertical-align: middle;}
.contents.site_set.type_01 {border: 1px solid #c7c7ca;border-radius: 5px;width: 770px;height:258px;box-sizing:border-box;padding: 10px;padding-top: 63px;}
.contents.site_set.type_01 .style_board_userinfo {border-top: none;}
.contents.site_set.type_01 .style_board_userinfo th {
	padding-left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    text-align: center;
    border-bottom: 0;
    font-family: Dotum,'돋움';
    font-weight: normal;
}
.contents.site_set.type_01 .style_board_userinfo td {
	padding: 40px 0 5px 10px;
    font-size: 12px;
    line-height: 23px;
    color: #888;
    text-align: center;
    border-bottom: 0;
}
.contents.site_set.type_01 .style_board_userinfo td.type_01 {
	padding: 15px 0 0 211px;
	text-align: left;
	border-bottom: 0;
}
.imp_ico.type_01 {
	display: inline-block;
	vertical-align: middle;
    padding-left: 15px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #ec098d;
    background: url("../images/board/ico_imp.gif") no-repeat left 40%;
}
/* IE8 hack */
@media \0screen {
        .style_board_userinfo .style_151102 img { margin-top:-1px; }
}
