.overflow_wrap_70{width:70px;}
.overflow_dot{ /* display "..." */
    white-space:nowrap;
    display:block;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.manager_tbl tr.is_data:hover td{background-color:#eee;cursor:pointer;}

/*dim*/
.fixed_dim{position:fixed; left:0; top:0; width:100%; height:100%; background:url("../images/sub/dim_bg.png") repeat 0 0; z-index:10000;}

/* 레이어 팝업 split */
#popup.find_id{left:50px;top:150px;}