/* 디폴트 테이블 스타일가이드 */
.style_board_default{border-top:1px solid #c7c7ca;}
.style_board_default caption span{width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.style_board_default th{padding:8px 0;font-size:11px;color:#666;background:#f9f9f9;border-bottom:1px solid #e2e2e2;}
.style_board_default td{padding:9px 0;text-align:center;font-size:12px;color:#888;border-bottom:1px solid #e5e5e5;}
.style_board_default td.title{padding-left:20px;text-align:left;}

/* 디폴트 테이블 스타일가이드 */
.style_board_view{border-top:2px solid #adadb2;}
.style_board_view th{padding:11px 0;font-weight:normal;font-size:12px;color:#888;border-bottom:1px solid #c5c5c5;}
.style_board_view th.title{padding-left:10px;font-weight:bold;color:#666;text-align:left;}
.style_board_view th.date span{padding-right:5px;margin-right:5px;background:url("../images/board/ico_bar.gif") no-repeat right center;}
.style_board_view td{padding:20px 10px;font-size:12px;color:#888;border-bottom:1px solid #c5c5c5;}

.btn_list{margin-top:15px;text-align:center;}

/* 사용자정보 폼 테이블 */
/*.style_board_userinfo{border-top:2px solid #adadb2;}
*/.style_board_userinfo th{/*padding-left:20px;*//*background:#f9f9f9;*/font-size:12px;color:#666;text-align:left;border-bottom:1px solid #bfbfbf;}
.style_board_userinfo th:first-child {border-top:1px solid #bfbfbf;}
.style_board_userinfo td{padding:3px 0 3px 10px;font-size:12px;  /*line-height: 23px;*/color:#888;border-bottom:1px solid #dbdbdb;}
.style_board_userinfo tr:first-child td {border-top: 1px solid #dbdbdb;}
/*.style_board_userinfo tr.last th, .style_board_userinfo tr.last td{border-bottom:1px solid #c5c5c5;}
*/.style_board_userinfo td input{padding:6px 0 6px 8px;font-size:12px;color:#888;border:1px solid #c5c5c5;width:97%;}
.style_board_userinfo td select{padding:2px 0 1px 5px;font-size:12px;color:#888;border:1px solid #c5c5c5;}
.style_board_userinfo td .noti{padding-left:10px;font-size:11px;color:#999;}
.style_board_userinfo td .imp{padding-left:15px;font-size:11px;line-height:16px;color:#ec098d;background:url("../images/board/ico_imp.gif") no-repeat left center;}
.style_board_userinfo td input[type="radio"]{
	  width: inherit;
	  margin-right: 2px;
	  vertical-align: bottom;
	  border: none;
	  padding: 0px;
}
.style_board_userinfo td input[type="radio"]+label {padding-right: 15px;}
.style_board_userinfo .radio_sty {
	overflow: hidden;
	padding: 8px 0;
}
.style_board_userinfo .radio_sty p {
	overflow: hidden;
	float: left;
}
.control_support .ip_btn {
	text-align: center;
	margin-top: 15px;
}