@charset "utf-8";


body {border:0;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin: 0;padding: 0;}
body, input, textarea, select, button, table {font-family: '맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-size:12px; color:#575a63; letter-spacing:-0.75px;}
img, fieldset, button, iframe {border:0;}
ul, ol {list-style: none outside none;}
em, address {font-style: normal;}
a {color:#333; text-decoration:none; cursor:pointer;}
caption, hr, legend {display: none;}
button {cursor: pointer;}
table {border: 0 none;border-collapse: collapse;margin: 0;padding: 0;}
a:hover, a:active, a:focus {text-decoration: none;}
.hove a:hover{text-decoration: underline; }


input[type='checkbox'] {
  background: #fff;
  height: 14px;
  width: 14px;
/*  -webkit-appearance: none;*/
  border: 1px solid #bababa;
  border-radius: 2px;
  vertical-align: middle;
  padding: 0;
  margin: -4px 4px 0 0;
}

/* SMS발송 */
.sms_send {
	width: 413px;
	height: 518px;
	background-color: #ffffff;
}
.check_area {
	height: 60px;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.check_area .url_box {margin: 10px 10px 0 10px;}
.check_area .url_box label, .check_area .url_box01 label{word-wrap: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:365px; line-height:14px; display: inline-block; vertical-align: top;}
.check_area .url_box01 {margin: 5px 10px 0 10px;}
.input_area {
	width: 100%;
	height: 460px;
	margin-top: 15px;
}
.input_list {
	width: 317px;
	height: 444px;
	margin: 0 auto;
	background: url("../images/sub/bg_sms_send.png") no-repeat;
}
.text_box {
	margin: 0 25px;
	padding-top: 45px;
}
.text_box div {
	box-sizing: border-box;
	width: 100%;
	height: 130px;
	font-size: 14px;
	color: #ffffff;
	padding: 20px;
	word-break: break-all;
}
.text_box div.send_view{overflow-y: auto;}
.receive_num {
	position:relative;
	padding: 0 26px 21px 26px;
}
.receive_num input {
	width: 94%;
	font-size: 14px;
	color: #ffffff;
	padding: 9px 7px 10px 10px;
	background-color: transparent;
	border: none;
}
.receive_num .num {
	color: white;
}
.receive_num .num_enter {
	width: 100%;
	height: 35px;
	margin-top: 35px;
}
.receive_num .err_num {
	position:absolute; 
	top:35px;
	left:26px;
	font-size: 12px;
	color: #ff9000;
	margin-top: 5px;
} 
.post_num {
	padding: 0 26px;
}
.post_num input {
	width: 96%;
	padding: 10px 0px 11px 10px;
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #989898;
}
.post_num .num {
	color: white;
}
.post_num .num_enter {
	width: 100%;
	height: 40px;
	margin-top: 28px;
}
.input_list .btn_sms {
	padding: 0 26px;
	margin-top: 11px;
}


/* e_mail 발송 */
.email_send {
	width: 413px;
	height: 518px;
	background-color: #ffffff;
}
.email_list .receive_email {
	box-sizing: border-box;
	padding-left: 20px;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
 	border-radius: 2px;
	margin-bottom: 10px;
}
.email_list .receive_email input{
	width: 100%;
	padding: 8px 0 8px 0px;
	font-size: 14px;
  	color: #888888;
	background-color: transparent;
	border: none;
}
.email_list .title_email {
	box-sizing: border-box;
	padding-left: 20px;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
 	border-radius: 2px;
	margin-bottom: 10px;
}
.email_list .title_email input{
	width: 100%;
	padding: 8px 0 8px 0px;
	background-color: transparent;
	border: none;
	font-size:14px;
	color:#333;
}
.email_list .title_email p {
	font-size: 14px;
	color: #333333;
	padding: 7px 0;
}
.email_list .text_area {
	overflow-y: scroll;
	height: 344px;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 20px;
	color: #666666;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	margin-bottom: 8px;
}
.email_list .text_area div {height: 110%;}
.text_area .hold_tex {
	padding-bottom: 25px; 
	padding-top: 10px;
	padding-right: 20px;
}
.text_area .url{padding-top: 23px;}
.email_list .point_tex {
	background: url("../images/sub/bg_ico_hilight.gif") no-repeat 0 4px;
	padding-left: 15px;
	font-size: 12px;
	color: #ec098d;
}
.email_list .btn_email {text-align: center; padding:13px 0 0;}
.email_list .url_list {
	padding-bottom: 17px;
	word-break: break-all;
	display: inline-block;
  	padding-right: 60px;
  	color: #666666;
  	text-decoration: underline;
}
.email_list .url_list:hover {color: #ec098d;}
/* 지원기록 관리 */
.record_manager {
	width: 433px;
	height: 385px;
}



/* 원격지원 */
.control_support {
	width: 413px;
	height: 518px;
}
.ip_dater {
	height: 60px;
	border: 1px solid #cdcdcd;
	border-radius: 2px; 
	margin-bottom: 30px;

}
.ip_dater ul {overflow: hidden;}
.ip_dater ul:first-child {
	margin-top: 14px;
	margin-bottom: 3px;
}
.ip_dater ul li {
	float: left;
	font-size: 12px;
	padding-left: 20px;
	background: url("../images/sub/bg_bulet_gray.gif") no-repeat 13px 8px;
}
.style_board_userinfo .tex_area {
	width: 296px;
  	height: 150px;
  	padding: 10px;
	line-height:18px;
	border: 1px solid #c5c5c5;
}