/* 레이어팝업 스타일가이드 */
/* change to style | 2015.07.29 | KSM | modified */
#popup{position:fixed; left:40%; top:35%;z-index:99999;}
.popup_title{overflow: hidden;padding:12px;background:#84838b;color:#fff;}
.logo_popup{float: left;margin-right:15px;}
.popup_title_txt{font-size: 14px;line-height:21px;}
.popup_title .close{float:right;margin: 3px 8px 0 0;}

.popup_content_wrap{border-left:2px solid #88878f;border-right:2px solid #88878f;border-bottom:2px solid #88878f;}
.popup_content{padding:25px;border-top:2px solid #f43193;font-size:12px;background-color: #fff;}

.btn{text-align:center;}

/** ID/PW찾기, 새비밀번호설정 팝업 **/
.find_pw, .find_id, .find_id2, .new_pw{width:320px;}
.find_pw p, .find_id p, .find_id2 p{color:#666;}
.find_pw table{margin:15px 0;}
.find_id p{margin-bottom:15px;padding:30px 0 60px 0;border-bottom:1px solid #c5c5c5;text-align:center;letter-spacing: -0.1px;}
.find_id p.h_num70, .find_id2 p.h_num70{padding-bottom:0; height:70px;}
.find_id2 p{margin-bottom:15px;padding:20px 0 55px 0;border-bottom:1px solid #c5c5c5;text-align:center;letter-spacing: -0.1px;}
.new_pw table th{padding-left:9px;}
.new_pw p{position:absolute; left:25px; top:185px; width:265px;}
.new_pw .btn{margin:55px 0 0;}


/** 비밀번호 재설정 안내 레이어팝업 **/
.reset_pw{position:absolute;width:760px;left:50%;top:485px;margin:-148px 0 0 -380px;}
.reset_pw .btn{margin-bottom:5px;}
.reset_pw_txt{margin:15px 0 0 25px;padding-left:150px;line-height:18px;background:url("../images/sub/bg_lock.gif") no-repeat;}
.reset_pw_txt strong{color:#5b5b5b;}
.reset_pw_txt p{padding:25px 0 30px 0;color:#888;}


/** 프로그램실행 시 팝업 **/
.program{width:360px;}
.program_tit{padding:3px 0 20px 0;margin-bottom:15px;border-bottom:1px solid #c5c5c5;background:url("../images/popup/bg_program_tit.gif") no-repeat right top;}
.program_cont{overflow:hidden;height:90px;text-align:center;}
.program_cont strong{display:block;color:#666;}
.program_cont .program_cont_txt{margin:8px 0;color:#888;}
.program_cont .imp_ico{margin:5px 0;}

.program_cont .program_cont_loading span{display:block;margin:5px 0 10px;}


/** 부서추가 팝업 **/
.add_dept{width:320px;}
.add_dept table{margin-bottom:15px;}
.add_dept table th.desc{vertical-align: top;padding-top: 7px;}
.add_dept textarea{padding: 2px 10px;font-size: 12px;line-height: 16px;color: #888;border: 1px solid #c5c5c5;}


/** 공지사항 리스트팝업 **/
.popup_notice{width:540px;}
.popup_notice_tit strong{font-size:14px;color:#666;}
.popup_notice_tit p{margin:5px 0 15px;color:#888;}


/** 사용자 생성추가 팝업 **/
.add_user{width:760px;}
.add_user table{margin:15px 0;}
.add_user table td.permit_radio label{font-size:12px;margin-right:14px;}

.inform_usernum{padding:5px 20px;background:#e7eaef;}
.inform_usernum .imp{font-weight:bold;}
.fst_usernum, .snd_usernum{overflow:hidden;margin:5px 0;}
.inform_usernum dt, .inform_usernum dd{float:left;color:#666;margin-right:4px;}
.snd_usernum dd{margin-right:10px;padding-right:10px;background:url("../images/board/ico_bar3.gif") no-repeat right 4px;}
.snd_usernum dd.last{background-image:none;}


/** 지원기록보기 **/
.supp_log_tit{display:block;margin-bottom:10px;font-size:14px;color:#666;}

.supp_log{width:540px;}
.supp_log table{margin:25px 0 15px;}
.supp_log table td.result_radio label{font-size:12px;margin-right:14px;}
.supp_log textarea{padding: 2px 10px;font-size: 12px;line-height: 16px;border: 1px solid #c5c5c5;color:#666;}
.supp_log .btn{margin-bottom:5px;}

.supplog_view{padding:10px 20px;background:#e7eaef;color:#666;}
.supplog_view .imp{font-weight:bold;}
.fst_supplog_view{overflow:hidden;margin-bottom:5px;padding-bottom:10px;border-bottom:1px solid #cacbd0;}
.fst_supplog_view dl{overflow:hidden;float:left;width:50%;}
.fst_supplog_view dt, .fst_supplog_view dd{float:left;margin-right:5px;font-weight:bold;}
.snd_supplog_view li{padding-left:7px;background:url("../images/board/ico_dot.gif") no-repeat left 50%;}
.snd_supplog_view strong{font-weight:normal;margin-right:5px;}