/* select박스 스타일가이드 */


/*검색창*/
.search_area {width:100%; display:inline-block; position:relative;margin-bottom:10px; z-index:6}      
.search_area .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area .i_text {padding:5px 10px 4px;}}
.search_area .selectbox_source {position: absolute; left:-9999px;}
.search_area .selectbox_box {height:22px; float:left; margin-right:5px; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
 

/*검색창 style 01*/
.search_area01 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area01 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area01 .i_text {padding:5px 10px 4px;}}
.search_area01 .selectbox_source {position: absolute; left:-9999px;}
.search_area01 .selectbox_box {height:22px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area01 .selectbox_label {width: 100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area01 .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area01 .selectbox_layer ul.selectbox_list01 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area01 .selectbox_layer ul.selectbox_list01 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area01 .selectbox_layer ul.selectbox_list01 li:hover {font-weight:bold;}
.search_area01 .selectbox_layer ul.selectbox_list01 li:first-child {border-top:0;}
.search_area01 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area01 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}

/*검색창 style 02*/
.search_area02 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area02 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area02 .i_text {padding:5px 10px 4px;}}
.search_area02 .selectbox_source {position: absolute; left:-9999px;}
.search_area02 .selectbox_box {height:22px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area02 .selectbox_label {width: 100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area02 .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area02 .selectbox_layer ul.selectbox_list02 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area02 .selectbox_layer ul.selectbox_list02 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area02 .selectbox_layer ul.selectbox_list02 li:hover {font-weight:bold;}
.search_area02 .selectbox_layer ul.selectbox_list02 li:first-child {border-top:0;}
.search_area02 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area02 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}


/*검색창 style 03*/
.search_area03 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area03 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area03 .i_text {padding:5px 10px 4px;}}
.search_area03 .selectbox_source {position: absolute; left:-9999px;}
.search_area03 .selectbox_box {height:22px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area03 .selectbox_label {width: 100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area03 .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area03 .selectbox_layer ul.selectbox_list03 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area03 .selectbox_layer ul.selectbox_list03 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area03 .selectbox_layer ul.selectbox_list03 li:hover {font-weight:bold;}
.search_area03 .selectbox_layer ul.selectbox_list03 li:first-child {border-top:0;}
.search_area03 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area03 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}


/*검색창 style 04*/
.search_area04 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area04 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area04 .i_text {padding:5px 10px 4px;}}
.search_area04 .selectbox_source {position: absolute; left:-9999px;}
.search_area04 .selectbox_box {height:22px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area04 .selectbox_label {width: 100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area04 .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area04 .selectbox_layer ul.selectbox_list04 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area04 .selectbox_layer ul.selectbox_list04 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area04 .selectbox_layer ul.selectbox_list04 li:hover {font-weight:bold;}
.search_area04 .selectbox_layer ul.selectbox_list04 li:first-child {border-top:0;}
.search_area04 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area04 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}


/*검색창 style 05*/
.search_area05 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area05 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area05 .i_text {padding:5px 10px 4px;}}
.search_area05 .selectbox_source {position: absolute; left:-9999px;}
.search_area05 .selectbox_box {height:22px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area05 .selectbox_label {width: 100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area05 .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area05 .selectbox_layer ul.selectbox_list05 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area05 .selectbox_layer ul.selectbox_list05 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area05 .selectbox_layer ul.selectbox_list05 li:hover {font-weight:bold;}
.search_area05 .selectbox_layer ul.selectbox_list05 li:first-child {border-top:0;}
.search_area05 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area05 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}




/* 원격지원 페이지 검색창 */
.search_area10 {width:100%; display:inline-block; position:relative; z-index:50}      
.search_area10 .i_text {font-size:13px; padding:5px 4px 6px; border:1px solid #cecfcf; vertical-align:top;}
@-moz-document url-prefix(){.search_area10 .i_text {padding:5px 10px 4px;}}
.search_area10 .selectbox_source {position: absolute; left:-9999px;}
.search_area10 .selectbox_box {height:28px; float:left; color:#888; font-size:13px; background:url("../images/sub/select_st01.gif") no-repeat right top; border:1px solid #CECFCF; cursor:pointer;}
.search_area10 .selectbox_label {width: 100%; margin:7px 0 0 5px;   font-size: 12px; overflow:hidden;}
.search_area10 .selectbox_layer {position:absolute; top:30px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:1000;}
.search_area10 .selectbox_layer ul.selectbox_list10 {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area10 .selectbox_layer ul.selectbox_list10 li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area10 .selectbox_layer ul.selectbox_list10 li:hover {font-weight:bold;}
.search_area10 .selectbox_layer ul.selectbox_list10 li:first-child {border-top:0;}
.search_area10 .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area10 .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}


.search_area .selectbox_label {width:100%; margin:3px 0 0 5px;   font-size: 12px; overflow:hidden; font-size: 12px;}
.search_area .selectbox_layer {position:absolute; top:24px; border:1px solid #e3e3e3; border-top:0; background-color:#fff; display:none; overflow:hidden; z-index:99999;}
.law_search .add_type {top:40px;}
.search_area .selectbox_layer ul.selectbox_list {width:100%; height:124px; overflow-x:hidden; overflow-y:auto}
.search_area .selectbox_layer ul.selectbox_list li {color:#888; background:#fff; margin:0 7px; padding:3px 0; border-top: dotted 1px #C0C4CB; cursor:pointer;}
.search_area .selectbox_layer ul.selectbox_list li:hover {font-weight:bold;}
.search_area .selectbox_layer ul.selectbox_list li:first-child {border-top:0;}
.search_area .input_area {position:relative; z-index:1; height:26px; line-height:26px; font-size:17px; color:#666; font-weight:bold; background-color:#fff; border:2px solid #8ab6cd; margin-top:10px; overflow:hidden;}
.search_area .input_area input {width:274px; height:24px; padding-right:6px; line-height:24px; border:0 none; font-size:17px; color:#333; font-weight:bold;  text-align:right;}
.choice_box {height: 25px; margin-bottom: 17px;}
/*.choice_box div {float: left;}*/
.choice_box .w_47 {width: 47px;}
.choice_box .w_51 {width: 51px;}
.choice_box .w_67 {width: 67px;}
.choice_box .w_63 {width: 63px;}
.choice_box .w_130 {width: 130px;}
.choice_box .w_200 {width: 200px;}
.choice_box .w_300 {width: 300px;}
.choice_box .cen_line {padding: 2px 4px 0 3px;}
.choice_box .search {padding-left: 2px; float:left;}/* [150811] */
.choice_box .excel {padding-left: 3px; float:left;}/* [150811] */
.search_area10 .w316 {width:316px;}



/* 지원기록관리 테이블 */
.manager_tbl .point {color: red;}
.manager_tbl .no_line {border-bottom: none;}
.manager_tbl_sub {overflow-y: scroll; height: 308px; border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2;}
.first_tbl {border-top: none;}
.manager_tbl_sub .last_bot td {border-bottom: none;}

/* [150811] */
.comm_sel {float:left;margin-right:2px; /*min-width:150px; */}
.comm_sel:after {content:" "; display:block; clear:both;}
.comm_sel .jq_sel {display:block;position:relative;height:22px; border-radius: 2px; color:#888; font-size:13px;background-color: #ffffff; border:1px solid #cfcfcf;}
.comm_sel .jq_sel span {position:absolute;left:0;top:0;white-space:nowrap;height:22px;width:100%;_width:auto;line-height:22px;text-align:left;text-indent:8px;color:#888;overflow:hidden;cursor:pointer}
.comm_sel .jq_sel a.jqTransformSelectOpen {display:block;position:absolute;right:0px;width:23px;height:22px;background:url('../images/sub/select_st.gif') no-repeat right top;}
.comm_sel .jq_sel ul {position:absolute;z-index:9999;top:23px;left:-1px;max-height:90px;width:100%;list-style:none;background-color:#fff;border:1px solid #e3e3e3; border-top:none; display:none; overflow-x: hidden; overflow-y:auto; z-index:10;white-space:nowrap}
.comm_sel .jq_sel ul a {display:block;margin:0 7px; padding:4px 0px;text-decoration:none;color:#888;text-align:left; border-top:dotted 1px #C0C4CB; cursor:pointer;}
.comm_sel .jq_sel ul li:first-child a {border-top:none;margin-top:1px;}
.comm_sel .jq_sel ul a:hover {font-weight:bold;}
.comm_sel .jq_sel ul a.selected {}
.comm_sel .jq_sel_hide {display:none}

.cen_line{float:left;}
.w_49{width:49px !important;}
.w_65{width:65px !important;}
.w_318{width:318px !important;}
